<li class="site-menu-item {% if css_active is defined %}{% if css_active == 'home' %} active open{% endif %}{% endif %}">
  <a href="{{ path('home') }}">
    <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
    <span class="site-menu-title">Home</span>
  </a>
</li>
<li class="site-menu-item has-sub {% if css_active is defined %}{% if css_active == 'tipo' or css_active == 'prestador' %} active open{% endif %}{% endif %}">
    <a href="javascript:void(0)" data-slug="layout">
        <i class="site-menu-icon wb-library" aria-hidden="true"></i>
        <span class="site-menu-title">Reportes</span>
        <span class="site-menu-arrow"></span>
    </a>
    <ul class="site-menu-sub">
        <li class="site-menu-item {% if css_active is defined %}{% if css_active == 'tipo' %} active{% endif %}{% endif %}">
            <a class="animsition-link" href="{{ path('chofer_reporte_curso') }}" data-slug="layout-menu-collapsed">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">#Choferes x tipo de curso</span>
            </a>
        </li>
        <li class="site-menu-item {% if css_active is defined %}{% if css_active == 'prestador' %} active{% endif %}{% endif %}">
            <a class="animsition-link" href="{{ path('chofer_reporte_prestador') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">#Choferes x prestador</span>
            </a>
        </li>
    </ul>
</li>
