<div class="navbar nav">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('home') }}">Choferes</a>

          	<div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li><a href="#">Consulta Chofer</a></li>
                </ul>
                <div class="pull-right">
                    {{ include('ChoferesBundle:NavBars:menu_usuario.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
