<li class="site-menu-item">
    <a href="{{ path('usuario') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Usuarios</span>
    </a>
</li>
<li class="site-menu-item">
    <a href="{{ path('prestador') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Prestadores</span>
    </a>
</li>
<li class="site-menu-item">
    <a href="{{ path('usuarioprestador') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Asociar usuario con prestador</span>
    </a>
</li>