<li class="site-menu-item {% if css_active is defined %}{% if css_active == 'home' %} active open{% endif %}{% endif %}">
  <a href="{{ path('home') }}">
    <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
    <span class="site-menu-title">Home</span>
  </a>
</li>
<li class="site-menu-item{% if css_active is defined %}{% if css_active == 'chofer_consulta' %} active{% endif %}{% endif %}">
    <a href="{{ path('auditoria') }}" data-slug="dashboard">
        <i class="site-menu-icon" aria-hidden="true"></i>
        <span class="site-menu-title">Seleccionar cursos</span>
    </a>
</li>
