<li class="site-menu-item has-sub active open">
    <a href="javascript:void(0)" data-slug="layout">
        <i class="site-menu-icon wb-library" aria-hidden="true"></i>
        <span class="site-menu-title">Reportes</span>
        <span class="site-menu-arrow"></span>
    </a>
    <ul class="site-menu-sub">
        <li class="site-menu-item active is-shown">
            <a class="animsition-link" href="#" data-slug="layout-menu-collapsed">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">Cantidad choferes curso basico</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="#" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">Cantidad choferes curso actualizacion</span>
            </a>
        </li>
    </ul>
</li>

