<li class="site-menu-item">
    <a href="{{ path('chofer_consulta') }}" data-slug="dashboard">
        <i class="site-menu-icon wb-flag" aria-hidden="true"></i>
        <span class="site-menu-title">Consulta Chofer</span>
    </a>
</li>