{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ app.user.nombre }} -  Home
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-body">
    <div class="page-header text-center">
      <h1 class="page-title">Home</h1>
      <p class="page-description">
        Bienvenido {{ app.user.nombre }}.
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  (function(window, document, $) {
    $( "#layout_pageHeader" ).remove();
  })(window, document, jQuery);
</script>
{% endblock %}
