{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} -  Home
{% endblock %}

{% block menu %}
{{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}
<div class="panel">
  <div class="panel-body">
    <div class="page-header text-center">
      <h1 class="page-title">Home</h1>
      <p class="page-description">
        Bienvenido {{ app.user.nombre }}.
      </p>
    </div>
  </div>
</div>
{% endblock %}
