{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    Choferes
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-title">Auditoria</h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('home') }}">Inicio</a></li>
      <li class="active">Auditoria</li>
    </ol>
{% endblock %}


{% block page %}
<div>TEST</div>
{% endblock %}
