{% extends 'ChoferesBundle:Layout:layout.html.twig' %}

{% block title %}
    Reportes
{% endblock %}

{% block menu %}
    {{ include('ChoferesBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block pageHeader%}
    <h1 class="page-title">Cantidad de choferes que realizaron cursos este mes por prestador</h1>
{% endblock %}

{% block page %}

    <!-- Panel Table Add Row -->
    <div class="panel">
        <div class="panel-body">

            <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>

                    <th>Prestador</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in resultado %}
                    <tr class="gradeA">
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.cantidad }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

        </div>

    </div>

{% endblock %}

{# {% block javascript %}
  <script src="{{ asset('bundles/choferes/assets/scripts/cuilmask.js') }}"></script>
{% endblock %} #}
