
{% block _choferesbundle_usuarioprestadorfiltertype_prestador_widget %}
    <div class="col-sm-6 col-md-4">
        <h4 class="example-title">Prestador</h4>
        <div class="form-group">
            {{ block('choice_widget') }}
        </div>
    </div>
{% endblock %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      {% for error in errors %}
        <div class="alert ng-isolate-scope alert-danger alert-dismissible">
          <div><span class="ng-binding ng-scope">{{ error.message }}</span></div>
        </div>
      {% endfor %}
    {% endif %}
  {% endspaceless %}
{% endblock %}
